@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "robotoregular", serif;
  color: #4b4b4b;
}

strong {
  font-family: "robotomedium", serif;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "robotoregular", serif;
  cursor: pointer !important;
  color: #1e88f5;
}
a:hover {
  color: #0a1333;
  text-decoration: none;
}

.uk-container {
  max-width: 1187px;
  padding: 0 15px;
}

.uk-navbar-brand {
  padding: 0;
}

.uk-navbar-center {
  max-width: 60%;
}
@media only screen and (max-width: 1070px) {
  .uk-navbar-center {
    max-width: 70%;
  }
}

.uk-button {
  border-radius: 100px;
  line-height: 1.2;
  padding: 17px 0;
  text-align: center;
  font-family: "robotoregular", serif;
  font-size: 20px;
  width: 220px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uk-button-primary {
  background-color: #1e88f5;
}
.uk-button-primary:hover {
  background-color: #0a1333;
}

.uk-offcanvas-bar {
  background: #0a1333;
}
.uk-offcanvas-bar .uk-panel {
  background: transparent;
}
.uk-offcanvas-bar .uk-nav-side {
  margin-top: 15px;
}
.uk-offcanvas-bar .uk-nav-side .uk-nav-header {
  color: #fff;
  font-family: "robotolight", serif;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
}

.uk-dropdown-navbar {
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #efefef;
  width: 269px;
  padding-top: 0;
  padding-bottom: 0;
}
.uk-dropdown-navbar ul > li > a {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #141414;
}
.uk-dropdown-navbar ul > li:hover > a, .uk-dropdown-navbar ul > li.uk-active > a {
  background-color: #e8f4fd;
  color: #141414;
}

.uk-navbar-nav > li {
  padding: 0 10px;
  line-height: 40px;
}
.uk-navbar-nav > li > a {
  height: auto;
  padding: 0;
  display: block;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #141414;
  background: transparent;
  position: relative;
  line-height: 40px;
}
.uk-navbar-nav > li > a:focus {
  background: transparent;
  color: #141414;
}
@media only screen and (max-width: 1070px) {
  .uk-navbar-nav > li > a {
    font-size: 15px;
  }
}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li.uk-open > a {
  background: transparent;
  color: #168de2;
}
.uk-navbar-nav > li:hover > a:after, .uk-navbar-nav > li.uk-active > a:after, .uk-navbar-nav > li.uk-open > a:after {
  border-top: 1px solid #168de2;
  border-right: 1px solid #168de2;
}
.uk-navbar-nav > li.uk-parent {
  padding: 0 20px 0 10px;
}
.uk-navbar-nav > li.uk-parent > a:focus {
  background: transparent;
  color: #141414;
}
.uk-navbar-nav > li.uk-parent > a:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -6px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #141414;
  border-right: 1px solid #141414;
  right: -15px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.uk-navbar-nav > li.uk-parent:hover > a:focus {
  background: transparent;
  color: #141414;
}
.uk-navbar-nav > li.uk-parent:hover > a:after {
  border-top: 1px solid #168de2;
  border-right: 1px solid #168de2;
}
.uk-navbar-nav > li.uk-open > a:focus {
  background: transparent;
  color: #141414;
}
.uk-navbar-nav > li.uk-open > a:after {
  margin-top: -1.5px;
  border-top: 1px solid #168de2;
  border-right: 1px solid #168de2;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.uk-dotnav > * > * {
  width: 13px;
  height: 13px;
  border: solid 1px #1e88f5;
  background: transparent;
}
.uk-dotnav > .uk-active > * {
  background: #1e88f5;
}

.uk-dotnav > * > :focus,
.uk-dotnav > * > :hover {
  background: #cfe4fe;
}

.uk-breadcrumb > li,
.uk-breadcrumb > li > a,
.uk-breadcrumb > li > span {
  font-size: 14px;
  line-height: 1.71;
  color: #141414;
  font-family: "robotoregular", serif;
}

.uk-breadcrumb > li.uk-active > span {
  color: #4b4b4b;
  font-family: "robotolight", serif;
}

.uk-breadcrumb > li:nth-child(n+2):before {
  width: 5px;
  height: 5px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  border-top: 1px solid #4b4b4b;
  border-left: 1px solid #4b4b4b;
  margin: 1.5px 8px;
  content: "";
}

.uk-list li {
  position: relative;
  padding-left: 15px;
}
.uk-list li:before {
  position: absolute;
  left: 0;
  top: 3px;
  content: "•";
}
.uk-list li > p {
  margin: 0;
}

.uk-form {
  max-width: 300px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.uk-form input:not([type]),
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form input[type=datetime-local],
.uk-form input[type=date],
.uk-form input[type=month],
.uk-form input[type=time],
.uk-form input[type=week],
.uk-form input[type=color],
.uk-form select,
.uk-form textarea {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 18px;
  font-size: 20px;
  font-weight: 300;
  color: #141414;
  font-family: "robotolight", serif;
  background: transparent;
}
.uk-form input:not([type]):focus, .uk-form input:not([type]).activated,
.uk-form input[type=text]:focus,
.uk-form input[type=text].activated,
.uk-form input[type=password]:focus,
.uk-form input[type=password].activated,
.uk-form input[type=email]:focus,
.uk-form input[type=email].activated,
.uk-form input[type=url]:focus,
.uk-form input[type=url].activated,
.uk-form input[type=search]:focus,
.uk-form input[type=search].activated,
.uk-form input[type=tel]:focus,
.uk-form input[type=tel].activated,
.uk-form input[type=number]:focus,
.uk-form input[type=number].activated,
.uk-form input[type=datetime]:focus,
.uk-form input[type=datetime].activated,
.uk-form input[type=datetime-local]:focus,
.uk-form input[type=datetime-local].activated,
.uk-form input[type=date]:focus,
.uk-form input[type=date].activated,
.uk-form input[type=month]:focus,
.uk-form input[type=month].activated,
.uk-form input[type=time]:focus,
.uk-form input[type=time].activated,
.uk-form input[type=week]:focus,
.uk-form input[type=week].activated,
.uk-form input[type=color]:focus,
.uk-form input[type=color].activated,
.uk-form select:focus,
.uk-form select.activated,
.uk-form textarea:focus,
.uk-form textarea.activated {
  background: transparent;
}
.uk-form input:not([type]):focus + .input-text, .uk-form input:not([type]).activated + .input-text,
.uk-form input[type=text]:focus + .input-text,
.uk-form input[type=text].activated + .input-text,
.uk-form input[type=password]:focus + .input-text,
.uk-form input[type=password].activated + .input-text,
.uk-form input[type=email]:focus + .input-text,
.uk-form input[type=email].activated + .input-text,
.uk-form input[type=url]:focus + .input-text,
.uk-form input[type=url].activated + .input-text,
.uk-form input[type=search]:focus + .input-text,
.uk-form input[type=search].activated + .input-text,
.uk-form input[type=tel]:focus + .input-text,
.uk-form input[type=tel].activated + .input-text,
.uk-form input[type=number]:focus + .input-text,
.uk-form input[type=number].activated + .input-text,
.uk-form input[type=datetime]:focus + .input-text,
.uk-form input[type=datetime].activated + .input-text,
.uk-form input[type=datetime-local]:focus + .input-text,
.uk-form input[type=datetime-local].activated + .input-text,
.uk-form input[type=date]:focus + .input-text,
.uk-form input[type=date].activated + .input-text,
.uk-form input[type=month]:focus + .input-text,
.uk-form input[type=month].activated + .input-text,
.uk-form input[type=time]:focus + .input-text,
.uk-form input[type=time].activated + .input-text,
.uk-form input[type=week]:focus + .input-text,
.uk-form input[type=week].activated + .input-text,
.uk-form input[type=color]:focus + .input-text,
.uk-form input[type=color].activated + .input-text,
.uk-form select:focus + .input-text,
.uk-form select.activated + .input-text,
.uk-form textarea:focus + .input-text,
.uk-form textarea.activated + .input-text {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 15px;
  top: 5px;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #4b4b4b;
}
.uk-form input:not([type]):focus,
.uk-form input[type=text]:focus,
.uk-form input[type=password]:focus,
.uk-form input[type=email]:focus,
.uk-form input[type=url]:focus,
.uk-form input[type=search]:focus,
.uk-form input[type=tel]:focus,
.uk-form input[type=number]:focus,
.uk-form input[type=datetime]:focus,
.uk-form input[type=datetime-local]:focus,
.uk-form input[type=date]:focus,
.uk-form input[type=month]:focus,
.uk-form input[type=time]:focus,
.uk-form input[type=week]:focus,
.uk-form input[type=color]:focus,
.uk-form select:focus,
.uk-form textarea:focus {
  border: none;
}
.uk-form .uk-form-row {
  height: 57px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.uk-form .uk-form-row.activated {
  background: #fff;
}
.uk-form .uk-form-row .input-text {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  margin: -10px 0 0 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 300;
  color: #141414;
  font-family: "robotolight", serif;
  padding: 0 18px;
}
.uk-form legend {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 1.3px;
  color: #ffffff;
  font-family: "robotolight", serif;
  margin-bottom: 20px;
  text-align: center;
}
.uk-form legend:after {
  display: none;
}
.uk-form legend strong {
  font-family: "robotoregular", serif;
  font-weight: 300;
}

.-margin-top-50 {
  margin-top: 50px;
}

.-bg-blue {
  background: #1e88f5;
}
.-bg-blue-dark {
  background: #0a1333;
}

.-color-light {
  color: #dedede;
}

.-color-lighter {
  color: #fff;
}

.-button-light {
  background-color: #ffffff;
  color: #1e88f5;
}
.-button-light:hover {
  background-color: #1e88f5;
  color: #fff;
}

.-button-dark {
  background-color: #0a1333;
  color: #fff;
}
.-button-dark:hover {
  color: #0a1333;
  background: #fff;
}

.-text-light {
  color: #fff;
}

.-text-title {
  font-size: 22px;
  line-height: 1.27;
  color: #141414;
  font-family: "robotoregular", serif;
}
.-text-title a:hover {
  text-decoration: none;
  color: #141414;
}

.-title-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1.3px;
  font-family: "robotomedium", serif;
  margin-bottom: 36px;
}
.-title-text span {
  font-family: "robotolight", serif;
  font-weight: 300;
}

.-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "robotolight", serif;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-arrow-top {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
  margin-left: 5px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-arrow-top {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 0;
    height: 19px;
    width: 19px;
  }
}

.fri-bullhorn {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-bullhorn {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -24px;
    height: 45px;
    width: 50px;
  }
}

.fri-comma {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -119px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-comma {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -119px;
    height: 27px;
    width: 34px;
  }
}

.fri-flag {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -286px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-flag {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -286px;
    height: 45px;
    width: 44px;
  }
}

.fri-hand {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 41px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-hand {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -336px;
    height: 45px;
    width: 41px;
  }
}

.fri-paper-plain {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -476px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-paper-plain {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -476px;
    height: 96px;
    width: 100px;
  }
}

.fri-phone {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -672px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-phone {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -672px;
    height: 16px;
    width: 9px;
  }
}

.fri-rocket {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -693px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 45px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-rocket {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -693px;
    height: 45px;
    width: 45px;
  }
}

.fri-cunsult {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -151px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 41px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-cunsult {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -151px;
    height: 40px;
    width: 41px;
  }
}

.fri-search {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -743px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-search {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -743px;
    height: 40px;
    width: 40px;
  }
}

.fri-home {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -386px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 41px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-home {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -386px;
    height: 40px;
    width: 41px;
  }
}

.fri-open-book {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -431px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-open-book {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -431px;
    height: 40px;
    width: 42px;
  }
}

.fri-cup {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -196px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-cup {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -196px;
    height: 40px;
    width: 35px;
  }
}

.fri-student {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -788px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-student {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -788px;
    height: 40px;
    width: 40px;
  }
}

.fri-pero {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -577px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 38px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-pero {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -577px;
    height: 40px;
    width: 38px;
  }
}

.fri-document {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -241px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 29px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-document {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -241px;
    height: 40px;
    width: 29px;
  }
}

.fri-check {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -74px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-check {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -74px;
    height: 40px;
    width: 40px;
  }
}

.fri-phone-circle {
  background-image: url('../images/icons-s4aabac88cf.png');
  background-position: 0 -622px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 45px;
  margin-top: -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-phone-circle {
    background-image: url('../images/icons-2x-sc0edd29748.png');
    background-size: 100px auto;
    background-position: 0 -622px;
    height: 45px;
    width: 45px;
  }
}

.btn {
  color: #0c83e7;
}

.main-header {
  padding: 16px 0;
  background: #fff;
}
.main-header.uk-sticky-init, .main-header.uk-active {
  box-shadow: 0 0 5px #000;
}
.main-header .uk-navbar {
  background: #fff;
}
.main-header .header-phone {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #0a1333;
  vertical-align: middle;
  margin-left: 5px;
}
@media only screen and (max-width: 1070px) {
  .main-header .header-phone {
    font-size: 17px;
  }
}
.main-header .header-phone:hover {
  text-decoration: none;
}

.section {
  padding: 67px 0;
}
.section strong {
  font-family: "robotoregular", serif;
  font-weight: 300;
}

.section-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #141414;
  font-family: "robotolight", serif;
}

.section-info {
  font-family: "robotolight", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  color: #4b4b4b;
  margin-top: 22px;
}
.section-info.smaller {
  font-size: 15px;
}
.section-info .large-link {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #0a1333;
  text-decoration: none;
}
.section-info .large-link:hover {
  text-decoration: none;
}

.lined-bottom {
  padding-bottom: 37px;
  position: relative;
}
.lined-bottom:after {
  position: absolute;
  width: 182px;
  height: 2px;
  background: #1e88f5;
  content: "";
  left: 50%;
  bottom: 0;
  margin-left: -91px;
}

.circle {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cfe4fe;
  text-align: center;
  line-height: 100px;
}

.opportunities {
  margin-top: 80px;
}
.opportunities > li {
  font-size: 0;
}
.opportunities > li > div {
  width: calc(100% - 100px);
  display: inline-block;
  padding-left: 16px;
  padding-top: 16px;
}
.opportunities > li > div:first-child {
  width: 100px;
  padding-left: 0;
  padding-top: 0;
}
@media only screen and (max-width: 480px) {
  .opportunities > li > div {
    display: block;
    width: 100%;
    text-align: center;
  }
  .opportunities > li > div:first-child {
    margin: 0 auto 20px auto;
  }
}
.opportunities .opportunities_info_title {
  font-size: 22px;
  color: #141414;
  line-height: 1.27;
}
.opportunities .opportunities_info_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #4b4b4b;
  font-family: "robotolight", serif;
}

.b-comments {
  max-width: 560px;
  min-width: 280px;
  margin: 0 auto;
}
.b-comments .comment {
  text-align: center;
  padding: 45px 0;
}
.b-comments .comment__info {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #1e88f5;
  padding: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  color: #4b4b4b;
  font-family: "robotolight_italic", serif;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .b-comments .comment__info {
    padding: 25px 16px 16px;
  }
}
.b-comments .comment__info::after {
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
  bottom: -9px;
  width: 15px;
  height: 15px;
  content: "";
  border-left: 1px solid #1e88f5;
  border-bottom: 1px solid #1e88f5;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  background: #fff;
}
.b-comments .comment__info .comma {
  position: absolute;
  top: 10px;
  left: 10px;
}
.b-comments .comment__fullname {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.67;
  color: #a6a6a6;
}
.b-comments .comment__avatar {
  max-width: 70px;
}

.main-footer a {
  color: #dedede;
}
.main-footer a:hover {
  text-decoration: none;
}
.main-footer .footer-top {
  background: #141414;
  padding: 65px 0;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-top {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-top .uk-list {
    border-top: 1px solid #dedede;
    padding-top: 18px;
  }
}
.main-footer .footer-top .uk-list li {
  color: #fff;
  margin-bottom: 14px;
}
.main-footer .footer-top .uk-list li a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.5px;
}
.main-footer .footer-top .uk-list li:hover a, .main-footer .footer-top .uk-list li.uk-active a {
  color: #dedede;
  text-decoration: underline;
}
.main-footer .footer-top .uk-list li:first-child {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-bottom: 18px;
}
.main-footer .footer-bottom {
  background: #000;
  padding: 15px 0;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-bottom .footer-copyright {
    text-align: center;
  }
}
.main-footer .footer-bottom .footer-info {
  text-align: right;
  font-size: 13px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-bottom .footer-info {
    text-align: center;
  }
}

.logo-header {
  background-image: url('../images/logo-header.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 121px 39px;
  width: 121px;
  height: 39px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .logo-header {
    background-image: url('../images/logo-header@2x.png?1475673958');
  }
}

.logo-footer {
  background-image: url('../images/logo-footer.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 121px 39px;
  width: 121px;
  height: 39px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .logo-footer {
    background-image: url('../images/logo-footer@2x.png?1475673958');
  }
}

.b-welcome {
  padding: 120px 0;
}
.b-welcome__index {
  background-image: url('../images/bg.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1440px 600px;
  background-size: cover;
  background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-welcome__index {
    background-image: url('../images/bg@2x.png?1475673958');
  }
}
.b-welcome__ahs {
  background-image: url('../images/ahs-bg.png?1475673957');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1440px 360px;
  background-size: cover;
  background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-welcome__ahs {
    background-image: url('../images/ahs-bg@2x.png?1475673958');
  }
}
.b-welcome__gh {
  background-image: url('../images/gh-bg.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1440px 360px;
  background-size: cover;
  background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-welcome__gh {
    background-image: url('../images/gh-bg@2x.png?1475673958');
  }
}
.b-welcome__title {
  font-family: "robotomedium", serif;
  font-size: 44px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
}
@media only screen and (max-width: 767px) {
  .b-welcome__title {
    font-size: 30px;
  }
}
.b-welcome__title span {
  font-family: "robotolight", serif;
  display: block;
  font-weight: 300;
}
.b-welcome__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
  font-family: "robotolight", serif;
}
.b-welcome__btns {
  margin-top: 91px;
}
.b-welcome__btns .uk-button {
  display: inline-block;
  margin: 5px 25px;
}
@media only screen and (max-width: 767px) {
  .b-welcome__btns .uk-button {
    margin: 5px 0;
  }
}

.b-home-form {
  padding: 0;
}
.b-home-form__container {
  max-width: 420px;
}
@media only screen and (max-width: 767px) {
  .b-home-form__container {
    max-width: 100%;
  }
}
.b-home-form--boxed {
  padding: 114px 15px 47px 67px;
}
@media only screen and (max-width: 959px) {
  .b-home-form--boxed {
    padding: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .b-home-form--boxed {
    padding: 50px 15px;
  }
}
.b-home-form__img {
  background-image: url('../images/bitmap.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 720px 700px;
  background-size: cover;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-home-form__img {
    background-image: url('../images/bitmap@2x.png?1475673958');
  }
}
.b-home-form__img .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #071a2e, rgba(24, 79, 136, 0.3));
}
.b-home-form .uk-form {
  max-width: 370px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-home-form .uk-form legend {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 1.3px;
  color: #ffffff;
  font-family: "robotolight", serif;
  margin-bottom: 36px;
  text-align: left;
}
.b-home-form .uk-form strong {
  font-family: "robotomedium", serif;
}

.b-page-sider {
  padding: 0;
}
.b-page-sider__container {
  max-width: 420px;
}
@media only screen and (max-width: 767px) {
  .b-page-sider__container {
    max-width: 100%;
  }
}
.b-page-sider--boxed {
  padding: 60px 15px 60px 115px;
}
@media only screen and (max-width: 959px) {
  .b-page-sider--boxed {
    padding: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .b-page-sider--boxed {
    padding: 50px 15px;
  }
}
.b-page-sider__img_ahs {
  background-image: url('../images/bitmap1.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 720px 700px;
  background-size: cover;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-page-sider__img_ahs {
    background-image: url('../images/bitmap1@2x.png?1475673958');
  }
}
.b-page-sider__img_gh {
  background-image: url('../images/bitmap2.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 720px 700px;
  background-size: cover;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-page-sider__img_gh {
    background-image: url('../images/bitmap1@2x.png?1475673958');
  }
}
.b-page-sider__img_ah {
  background-image: url('../images/bitmap3.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 720px 700px;
  background-size: cover;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-page-sider__img_ah {
    background-image: url('../images/bitmap3@2x.png?1475673958');
  }
}
.b-page-sider__img_sh {
  background-image: url('../images/bitmap5.png?1475673958');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 720px 700px;
  background-size: cover;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .b-page-sider__img_sh {
    background-image: url('../images/bitmap5@2x.png?1475673958');
  }
}
.b-page-sider__img_sh .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #071a2e, rgba(24, 79, 136, 0.3));
}

.custom-grid {
  font-size: 0;
  text-align: center;
}
.custom-grid > div {
  font-size: 16px;
  display: inline-block;
  max-width: 33.33%;
  text-align: center;
  padding: 20px;
  vertical-align: top;
}
@media only screen and (max-width: 767px) {
  .custom-grid > div {
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
  }
}
