{% extends "layouts/app.twig" %}

{% block content %}
<section class="section b-welcome__ahs">
    <div class="uk-container uk-container-center">
        <h1 class="b-welcome__title">Обучение после вуза: <br>помощь в подборе вариантов</h1>
        <p class="b-welcome__text">Исходя из ваших целей и пожеланий, поможем сделать правильный выбор вуза или <br> аспирантуры </p>
    </div>
</section>

<section class="section">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-large" data-uk-grid-margin>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-4-6">
                <div>
                    <ul class="uk-breadcrumb">
                        <li><a href="">Главная</a></li>
                        <li><a href="">Студентам</a></li>
                        <li class="uk-active"><span>Обучение после вуза</span></li>
                    </ul>
                </div>
                <div>
                    <p class="section-info smaller">Вы закончили вуз, но, тем не менее, хотите продолжить свое обучение? Причины для этого могут быть разными:</p>
                    <div class="uk-list">
                        <li><p class="section-info smaller">вы поняли, что вам еще рано приступать к трудовой деятельности с полной загрузкой;</p></li>
                        <li><p class="section-info smaller">вам нравится учиться;</p></li>
                        <li><p class="section-info smaller">вы решили изменить сферу своих профессиональных интересов, свою специализацию;</p></li>
                        <li><p class="section-info smaller">вы считаете, что наличие дополнительного образования положительно скажется на вашей карьере;</p></li>
                        <li><p class="section-info smaller">вам необходимо получить отсрочку от армии.</p></li>
                    </div>
                    <p class="section-info smaller">Какова бы не была причина вашего желания продолжить обучение после вуза, у вас есть всего два варианта: либо поступить в еще один вуз и получить второе высшее образование, либо поступить в аспирантуру. А для тех, кого в первую очередь интересует отсрочка от армии, вариант лишь один – это аспирантура.
                        <br> <br>
                        Однако в любом случае возникает проблема выбора: куда именно поступать? Какой конкретно вуз или аспирантура в максимальной степени отвечают вашим целям? Ведь легко можно промахнуться и в итоге получить сильное разочарование, да к тому же напрасно потратить время и, скорее всего, деньги.
                        <br> <br>
                        Избежать огорчений и всех сопутствующих потерь помогут специалисты Московского Центра образовательных услуг (МЦОУ).</p>
                </div>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-6">
                <div class="uk-text-center">
                    <form class="uk-form -bg-blue">
                        <legend><strong>Свяжитесь с нами,</strong> <br> чтобы не тратить <br> время и силы на поиск <br> очевидных решений</legend>
                        <div class="uk-form-row">
                            <input type="text" placeholder="" id="index-fullname">
                            <label class="input-text" for="index-fullname">Ваше имя</label>
                        </div>
                        <div class="uk-form-row">
                            <input type="text" placeholder="" id="index-phone" class="phone">
                            <label class="input-text" for="index-phone">Контактный номер</label>
                        </div>
                        <button type="submit" class="uk-button uk-button-primary -button-dark">Связаться с МЦОУ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="uk-container uk-container-center">
        <h2 class="section-title lined-bottom"><strong>Учеба после вуза:</strong> чем конкретно мы поможем</h2>
        <p class="section-info uk-text-center">Обращаясь к нам, вы получаете следующие возможности:</p>
        <div class="-margin-top-50 uk-grid uk-grid-large uk-grid-width-small-1-1 uk-grid-width-medium-1-3 uk-text-center" data-uk-grid-margin>
            <div>
                <i class="fri fri-check"></i>
                <p class="-text-title">Подберем место обучения</p>
                <p class="section-info smaller">
                    – вуз или аспирантуру, исходя из ваших целей, пожеланий и возможностей. Любой вариант учебы после вуза – это, образно говоря, айсберг. Вы видите его надводную часть, но не знаете, что скрывается под темной водой. Поэтому при самостоятельном подборе вариантов так легко ошибиться, то есть не учесть ряда важных и пока неизвестных вам факторов. Зато об этих факторах знаем мы. Специалисты МЦОУ сами являются работниками сферы вузовского и послевузовского образования и готовы подсказать вам, куда поступать вам точно не стоит, а куда – имеет прямой смысл.
                </p>
            </div>
            <div>
                <i class="fri fri-check"></i>
                <p class="-text-title">Окажем содействие при поступлении</p>
                <p class="section-info smaller">
                    то есть поможем с соблюдением всех формальностей, которые его сопровождают. В каждом вузе и аспирантуре такие формальности различаются. Например, в аспирантуре от вас могут потребовать предоставить опубликованные научные работы, которых вы никогда не делали. Мы поможем уладить все эти вопросы.
                </p>
            </div>
            <div>
                <i class="fri fri-check"></i>
                <p class="-text-title">Предоставим консультации</p>
                <p class="section-info smaller">
                    У вас может возникнуть множество сопутствующих вопросов. Мы с готовностью на них ответим. Также мы предоставим дополнительные рекомендации, которые помогут вам как в благополучном поступлении, так и в успешном обучении после вуза
                </p>
            </div>
        </div>
        <div class="-margin-top-50 ">
            <p class="section-info smaller uk-text-center">Поясним на примере. Допустим, вы собрались поступать в аспирантуру, чтобы получить отсрочку от армии, и нашли подходящий, как вам кажется, вариант. Вы уверены, что в выбранной вами аспирантуре достаточно лояльно отнесутся к вашим подлинным целям поступления? Не превратится ли ваша учеба после вуза, вся ваша жизнь в аналог армейской службы, только с научным уклоном? Не захочется ли вам в итоге все бросить? Не придется ли срочно искать возможность перевестись в другую аспирантуру (опять же, придется искать новый вариант)? А время и/или деньги уже будут потрачены!</p>
        </div>
    </div>
</section>

<section class="section b-page-sider">
    <div class="uk-grid uk-grid-match uk-grid-collapse uk-grid-width-small-1-1 uk-grid-width-medium-1-2">
        <div class="b-page-sider__img_ahs">
            <div class="gradient"></div>
        </div>
        <div class="b-page-sider--boxed -bg-blue-dark">
            <div class="b-home-form__container">
                <h3 class="-title-text -text-light">У вас есть вопрос <br> «Куда пойти учиться после вуза?», <span>у нас есть правильный ответ! </span></h3>
                <p class="-text -text-light">Вы можете обратиться в МЦОУ даже в том случае, если желание продолжить обучение у вас не сформировалось окончательно, если оно пока еще носит смутный характер, если вы просто пытаетесь рассмотреть перспективы того, куда пойти учится после вуза. Мы поможем вам принять окончательное, а главное, правильное решение.
                    Не устаем повторять, что специалисты МЦОУ сами являются работками сферы вузовского и послевузовского образования – и потому мы гарантируем вам положительный результат. Ведь вся информация, которую мы вам предоставим, будет получена из первых рук.</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="uk-container uk-container-center">
        <h2 class="section-title lined-bottom">
            Позвоните нам, чтобы сделать правильный выбор
        </h2>
        <p class="section-info uk-text-center">
            <a href="tel:+7 (495) 588-80-80" class="large-link"><i class="fri fri-phone-circle"></i> +7 (495) 588-80-80</a>
        </p>
    </div>
</section>
{% endblock %}