{% extends "layouts/app.twig" %}

{% block content %}
    <section class="section b-welcome__ahs">
        <div class="uk-container uk-container-center">
            <h1 class="b-welcome__title">Профессиональная помощь студентам в решении различных вопросов</h1>
            <p class="b-welcome__text">Московский Центр образовательных услуг (МЦОУ) предлагает студентам помощь в решении различных вопросов</p>
        </div>
    </section>

    <section class="section">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-large" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-4-6">
                    <div>
                        <ul class="uk-breadcrumb">
                            <li><a href="">Главная</a></li>
                            <li><a href="">Студентам</a></li>
                            <li class="uk-active"><span>Профессиональная помощь студентам</span></li>
                        </ul>
                    </div>
                    <div>
                        <p class="section-info smaller">
                            Время от времени студенты сталкиваются с вопросами и проблемами, которые трудно решить без профессиональной помощи.
                            <br><br>
                            Дело даже не в том, что эти вопросы и проблемы очень сложны, а в том, что нужен либо определенный опыт и знания, либо достаточное количество времени.
                            <br><br>
                            Опыт и знания необходимы, чтобы оценить перспективы принятия того или иного решения, а с нехваткой времени сегодня сталкиваются не только студенты. С целью оказания
                            <a href="">профессиональной помощи студентам</a> и были созданы Московский Центр образовательных услуг (МЦОУ) и этот сайт.
                        </p>
                    </div>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-6">
                    <div class="uk-text-center">
                        <form class="uk-form -bg-blue">
                            <legend><strong>Свяжитесь с нами,</strong> <br> чтобы не тратить <br> время и силы на поиск <br> очевидных решений</legend>
                            <div class="uk-form-row">
                                <input type="text" placeholder="" id="index-fullname">
                                <label class="input-text" for="index-fullname">Ваше имя</label>
                            </div>
                            <div class="uk-form-row">
                                <input type="text" placeholder="" id="index-phone" class="phone">
                                <label class="input-text" for="index-phone">Контактный номер</label>
                            </div>
                            <button type="submit" class="uk-button uk-button-primary -button-dark">Связаться с МЦОУ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section-title lined-bottom">Чем конкретно наш центр помощи <storng>студентам</storng> сможет вам помочь</h2>
            <p class="section-info uk-text-center">Обращаясь к нам, вы получаете следующие возможности:</p>
            <div class="-margin-top-50 custom-grid" data-uk-grid-margin>
                <div>
                    <i class="fri fri-cup"></i>
                    <p class="-text-title"><a href="#">Прохождение практики</a></p>
                    <p class="section-info smaller">
                        Место прохождения практики студентам приходится искать самостоятельно. Чаще всего это очень хлопотное дело. При этом кому-то важно действительно получить практически навыки, а кому-то нужно просто поставить «галочку». Исходя из ваших целей и пожеланий, мы поможем вам найти российскую или зарубежную организацию, которая возьмет вас на практику.
                    </p>
                </div>
                <div>
                    <i class="fri fri-open-book"></i>
                    <p class="-text-title"><a href="#">Публикация научных работ</a></p>
                    <p class="section-info smaller">
                        Чтобы опубликовать свою научную работу в каком-либо периодическом издании, студентам приходится буквально проходить сквозь игольное ушко. Специалисты нашего центра помощи студентам знают, как этого можно избежать – то есть опубликовать статью без лишней волокиты, обойдя все препоны.
                    </p>
                </div>
                <div>
                    <i class="fri fri-home"></i>
                    <p class="-text-title"><a href="#">Подбор вариантов обучения после вуза</a></p>
                    <p class="section-info smaller">
                        Если вы хотите продолжить свое образование, сменить специализацию, если вам просто нравится учиться или же необходимо получить дополнительную отсрочку от армии, то мы подберем для вас варианты дальнейшего обучения в другом вузе или в аспирантуре.
                    </p>
                </div>
                <div>
                    <i class="fri fri-search"></i>
                    <p class="-text-title"><a href="#">Подбор вуза взамен закрывшегося</a></p>
                    <p class="section-info smaller">
                        Ваше учебное заведение закрывается? В таком случае вы можете воспользоваться предложением Минобразования и перевестись в тот вуз, который вам предложат чиновники. Но это предложение, скорее всего, не будет учитывать ваши интересы. Специалисты нашего центра помощи студентам не только подберут вуз, исходя из ваших пожеланий, но и помогут успешно перевестись.
                    </p>
                </div>
                <div>
                    <i class="fri fri-cunsult"></i>
                    <p class="-text-title"><a href="#">Консультации</a></p>
                    <p class="section-info smaller">
                        Вполне возможно, что на нашем сайте помощи студентам вы не нашли интересующей вас информации. Вполне возможно, что у вас возникли другие проблемы и вопросы. Позвоните нам, и мы вместе разберемся, как лучше их решить, предоставим вам исчерпывающие консультации.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section b-page-sider">
        <div class="uk-grid uk-grid-match uk-grid-collapse uk-grid-width-small-1-1 uk-grid-width-medium-1-2">
            <div class="b-page-sider__img_sh">
                <div class="gradient"></div>
            </div>
            <div class="b-page-sider--boxed -bg-blue">
                <div class="b-home-form__container">
                    <h3 class="-title-text -text-light">Наша гарантия – <br><span>наши специалисты сами работают в этой сфере</span></h3>
                    <p class="-text -text-light">
                        Вы сможете быть уверенными в том, что в МЦОУ вам предоставят действительно качественные консультации и профессиональную помощь. Основанием для такой уверенности служит то, что все сотрудники нашего центра сами являются работниками сферы вузовского и послевузовского образования. Причем работниками со значительным стажем.
                        <br><br>
                        Это значит, что мы знаем эту сферу изнутри, знаем, как все в ней работает, а также имеем все необходимые контакты.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section-title lined-bottom">
                Свяжитесь с нами, чтобы успешно решить все свои проблемы!
            </h2>
            <p class="section-info uk-text-center">
                <a href="tel:+7 (495) 588-80-80" class="large-link"><i class="fri fri-phone-circle"></i> +7 (495) 588-80-80</a>
            </p>
        </div>
    </section>
{% endblock %}