<footer class="main-footer">
    <section class="footer-top">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-large" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-1-5">
                    <a href="#"><i class="logo-footer"></i></a><br>
                    <p class="-color-lighter">Московский Центр <br> Образовательных Услуг</p>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-4-5">
                    <div class="uk-panel">
                        <div class="uk-grid">
                            <div class="uk-width-small-1-1 uk-width-medium-2-6">
                                <ul class="uk-list">
                                    <li>Меню</li>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">О нашем центре</a></li>
                                    <li><a href="#">Студентам</a></li>
                                    <li><a href="#">Аспирантам</a></li>
                                    <li><a href="#">Обратная связь</a></li>
                                </ul>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-6">
                                <ul class="uk-list">
                                    <li>Меню</li>
                                    <li><a href="#">Обучение после вуза</a></li>
                                    <li><a href="#">Профессиональная помощь студентам в решении различных вопросов</a></li>
                                    <li><a href="#">Оперативный подбор вуза взамен закрытого</a></li>
                                    <li><a href="#">Публикация научных статей студентов</a></li>
                                    <li><a href="#">Прохождение преддипломной практики в России или за рубежом</a></li>
                                </ul>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-6">
                                <ul class="uk-list">
                                    <li>Аспирантам</li>
                                    <li><a href="#">В какую аспирантуру лучше поступить?</a></li>
                                    <li><a href="#">Гарантированная отсрочка от армии по обучению в аспирантуре</a></li>
                                    <li><a href="#">Помощь аспирантам в решении различных вопросов</a></li>
                                    <li><a href="#">Статьи, научные публикации и работы аспирантов</a></li>
                                    <li><a href="#">Подбор диссертационного совета</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-large uk-grid-width-small-1-1 uk-grid-width-medium-1-2" data-uk-grid-margin>
                <div class="footer-copyright -color-light">Все права защищены | 2016 МЦОУ</div>
                <div class="footer-info -color-light"><a href="#header" data-uk-smooth-scroll>Наверх <i class="fri fri-arrow-top"></i></a></div>
            </div>
        </div>
    </section>
</footer>